* {
   box-sizing: border-box;
}

.container {
    height: 1150px;
    width: 1110px;
    left: 165px;
    position: absolute;
    top: 980px;
}

.first-grid {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: auto;
    margin-bottom: 30px;
}

.second-grid {
    display: flex;
    flex-direction: row;
    height: 700px;
}

.grid1 {
    background-image: url('../assets/desktop/image-grid-1.jpg');
    background-size: cover;
    background-position: bottom;
    width: 60%;
    height: 400px;
    border: 0;
    left: 640px;
}

.grid-words {
    width: 40%;
}

.words {
    width: 70%;
    margin-top: 15%;
}

.words h1 {
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-size: 60px;
    line-height: 60px;
    color: #151515;
    height: 120px;
    font-weight: 900;
}

.words p {
    font-family: 'Outfit';
    font-size: 22px;
    line-height: 32px;
    color: #444444;
    font-weight: 300;
}

.grid2 {
    width: 635px;
    height: 720px;
    background-image: url('../assets/desktop/image-grid-2@2x.jpg');
    background-size: cover;
    background-position: bottom;
    border: 0;
    margin-right: 15px;
}

.grid3-group {
    width: 445px;
    height: 720px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.grid3 {
    height: 313px;
    width: 445px;
    background-image: url('../assets/desktop/image-grid-3@2x.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border: 0;
    margin-bottom: 30px;
}

.grid-words-low {
    height: 377px;
    width: 445px;
    background-color: rgb(21, 21, 21);
    color: rgb(255, 255, 255);
}

.grid-words-low .words {
    margin: 65px 47px 64px 48px;
    color: #ffffff;
}

.grid-words-low .words h1 {
    color: #ffffff;
} 
.grid-words-low .words p {
    color: #ffffff;
}

/* spcific location css */

.loc-body {
    width: 1440px;
    height: 1392px;
    background: #ffffff;
}

.location-mid {
    height: 548px;
    width: 1440px;
    background-color: rgb(21, 21, 21);
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.our, .king {
    width: 50%;
}

.king {
    margin-bottom: 32px;
    height: 156px;
}

.our h1 {
    width: 270px;
    text-transform: uppercase;
    margin-top: 104px;
    margin-left: 165px;
    margin-bottom: 304px;
    color: white;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    font-family: "Big Shoulders Display";
}

.street {
    width: 540px;
    margin-top: 104px;
    margin-left: 15px;
}

.street h2 {
    text-transform: uppercase;
    color: #d5966c;
    font-family: "Big Shoulders Display";
    line-height: 36px;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 24px;
}

.street span {
    font-family: "Outfit";
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    color: #ffffff;
    margin-bottom: 32px;
}

.street p {
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    color: #ffffff;
    font-family: "Outfit";

}

@media screen and (max-width: 768) {
       
}