* {
   box-sizing: border-box;
}

.container {
    height: 1150px;
    width: 1110px;
    left: 165px;
    position: absolute;
    top: 980px;
}

.first-grid {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: auto;
    margin-bottom: 30px;
}

.second-grid {
    display: flex;
    flex-direction: row;
    height: 700px;
}

.brk2 {
    display: block;
}
.grid1 {
    background-image: url('../assets/desktop/image-grid-1.jpg');
    background-size: cover;
    background-position: bottom;
    width: 60%;
    height: 400px;
    border: 0;
    left: 640px;
}

.grid-words {
    width: 42.22%;
}

.words {
    width: 70%;
    margin-top: 15%;
}
.brk {
    display: none;
}

.words h1 {
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-size: 60px;
    line-height: 60px;
    color: #151515;
    height: 120px;
    font-weight: 900;
    width: 250px;
}

.words p {
    font-family: 'Outfit';
    font-size: 22px;
    line-height: 32px;
    color: #444444;
    font-weight: 300;
}

.grid2 {
    width: 635px;
    height: 720px;
    background-image: url('../assets/desktop/image-grid-2@2x.jpg');
    background-size: cover;
    background-position: bottom;
    border: 0;
    margin-right: 15px;
}

.grid3-group {
    width: 445px;
    height: 720px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.grid3 {
    height: 313px;
    width: 445px;
    background-image: url('../assets/desktop/image-grid-3@2x.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border: 0;
    margin-bottom: 30px;
}

.grid-words-low {
    height: 377px;
    width: 445px;
    background-color: rgb(21, 21, 21);
    color: rgb(255, 255, 255);
}

.grid-words-low .words {
    margin: 65px 47px 64px 48px;
    color: #ffffff;
}

.grid-words-low .words h1 {
    color: #ffffff;
} 
.grid-words-low .words p {
    color: #ffffff;
}

/* spcific location css */

.loc-body {
    width: 100vw;
    height: 1392px;
    background: #ffffff;
}

.location-mid {
    height: 548px;
    width: 100vw;
    background-color: rgb(21, 21, 21);
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.our, .king {
    width: 50%;
}

.king {
    margin-bottom: 32px;
    height: 156px;
}

.our h1 {
    width: 270px;
    text-transform: uppercase;
    margin-top: 104px;
    margin-left: 165px;
    margin-bottom: 304px;
    color: white;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    font-family: "Big Shoulders Display";
}

.street {
    width: 46vw;
    margin-top: 104px;
    margin-left: 15px;
}

.street h2 {
    text-transform: uppercase;
    color: #d5966c;
    font-family: "Big Shoulders Display";
    line-height: 36px;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 24px;
}

.street span {
    font-family: "Outfit";
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    color: #ffffff;
    margin-bottom: 32px;
}

.street p {
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    color: #ffffff;
    font-family: "Outfit";

}

@media screen and (max-width: 1100px) {
    .container {
        height: 1131px;
        width: 689px;
        left: 8vw;
        top: 820px;
    }

    .first-grid {
        height: 400px;
        width: 689px;
        margin-bottom: 11px;
    }

    .grid1 {
        width: 57.78%;
        height: 400px;
        border: 0;
        left: 640px;
    }

    .words {
        width: 223px;
        margin-top: 36px;
    }

    .words h1 {
        font-size: 50px;
        line-height: 47px;
        height: 130px;
        width: 150px;
        letter-spacing: 2px;
    }

    .words p {
        font-size: 18px;
        line-height: 28px;
        width: 226px;
    }
    .grid2 {
        width: 398px;
        margin-right: 11px;
    }

    .grid3-group {
        width: 280px;
        height: 720px;
        margin-left: 0;
    }
    .grid3 {
        height: 313px;
        width: 280px;
        margin-bottom: 11px;
    }
    .grid-words-low .words {
        margin: 85px 28px;
    }
    .grid-words-low {
        height: 396px;
        width: 280px;
    }
    .grid-words-low .words h1 {
        line-height: 45px;
        width: 180px;
        margin-bottom: 15px;
        height: 105px;
    }
    .location-mid {
        height: 436px;
        width: 100vw;
    }

    .loc-body {
        width: 768px;
        height: 1252px;
        background: #ffffff;
    }

    .our h1 {
        margin-top: 105px;
        margin-left: 54px;
        margin-bottom: 133px;
        font-size: 55px;
        line-height: 50px;
    }

    .street {
        margin-top: 104px;
        margin-left: -50px;
        width: 410px;
    }

    .street h2 {
        line-height: 32px;
        font-size: 32px;
        margin-bottom: 24px;
    }
    .street span {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        margin-bottom: 32px;
    }
    .street p {
        font-size: 18px;
        line-height: 28px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        height: 1605px;
        width: 343px;
        left: 16px;
        right: 16px;
        top: 750px;
    }

    .first-grid {
        height: 568px;
        width: 343px;
        margin-bottom: 32px;
        flex-direction: column-reverse;
    }

    .grid1 {
        width: 343px;
        height: 320px;
        border: 0;
        left: 0;
        margin-bottom: 25px;
    }

    .grid-words {
        width: 343px;
        height: 223px;
        bottom: 0;
    }

    .brk {
        display: block;
    }

    .words {
        width: 343px;
        height: 223px;
        bottom: 0;
        margin-top: 0px;
    }

    .words h1 {
        font-size: 50px;
        line-height: 45px;
        height: 90px;
        width: 343px;
        margin: 0 0 21px 0;
    }

    .grid-words .words p {
        font-size: 18px;
        line-height: 28px;
        width: 343px;
        height: 112px;
        margin: 0px;
        font-weight: 300;
    }

    .second-grid {
        display: flex;
        flex-direction: column;
        height: 1005px;
        width: 343px;
        margin: 0;
    }

    .grid2 {
        width: 343px;
        height: 480px;
        margin-bottom: 16px;
        margin-right: 0;
    }

    .grid3-group {
        width: 343px;
        height: 509px;
        margin-left: 0;
    }
    .grid3 {
        width: 343px;
        height: 200px;
        margin-bottom: 16px;
        margin-right: 0;
    }
    .grid-words-low .words {
        margin: 48px 24px 47px 24px;
        width: 295px;
        height: 198px;
    }

    .grid-words-low {
        width: 343px;
        height: 293px;
        margin-right: 0;
    }

    .grid-words-low .words h1 {
        line-height: 45px;
        width: 180px;
        height: 90px;
        margin-bottom: 24px;
    }

    .location-mid {
        height: 493px;
        width: 100vw;
        flex-direction: column;
    }

    .loc-body {
        width: 376px;
        height: 1379px;
        background: #ffffff;
    }

    .our {
        height: 93px;
        padding-top: 48px;
        padding-left: 16px;
        width: 375px;
    }

    .our h1 {
        margin-bottom: 133px;
        font-size: 50px;
        margin: 0;
        width: 343px;
        line-height: 45px;
    }

    .king {
        margin: 0px;
        height: 400px;
        width: 375px;
    }

    .street {
        margin: 0px;
        height: 400px;
        width: 375px;
        padding-top: 48px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .street h2 {
        line-height: 32px;
        font-size: 32px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .street span {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .street p {
        font-size: 18px;
        line-height: 28px;
    }

    .grid-words-low .words p {
        color: #ffffff;
        width: 295px;
        margin: 0;
    }

    .brk2 {
        display: none;
    }
}