* {
   box-sizing: border-box;
}

.h-footer {
    position: absolute;
    width: 1440px;
    height: 244px;
    left: 0px;
    top: 2310px;
    background: #151515;
    color: rgb(243, 243, 243);
    display: flex;
    flex-direction: row;
}

.loc-footer {
    background: rgb(213, 150, 108);
    color: rgb(21, 21, 21);
    position: absolute;
    width: 1440px;
    height: 244px;
    display: flex;
    flex-direction: row;
}

/* footer .heading, footer .socials, footer .para {
    width: 33.333%;
    align-self: center;
} */

footer .heading, footer .socials {
    width: 36.333%;
    align-self: center;
}

footer .para {
    width: 27.333%;
    align-self: center;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

footer .heading {
    text-align: left;
}

footer .title {
    padding-left: 30%;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-size: -webkit-xxx-large;
    line-height: 50px;
    letter-spacing: 2px;
    font-weight: 1000;
}

footer .para {
    text-align: left;
}

footer .socials {
    text-align: center;
    padding-bottom: 2%;
    padding-left: 5%;
}

.socials img {
    padding-right: 3%;
}

.image-fb, .im-ft-fb {
    content: url('../assets/icon-facebook.svg');
}

.image-fb:hover, .image-fb:hover {
    content: url('../assets/icon-facebook2.svg')
}

.image-tw, .im-ft-tw {
    content: url('../assets/icon-twitter.svg');
}

.image-tw:hover, .image-tw:focus {
    content: url('../assets/icon-twitter2.svg');
}

.image-inst, .im-ft-inst {
    content: url('../assets/icon-instagram.svg');
}

.image-inst:hover, .image-inst:focus {
    content: url('../assets/icon-instagram2.svg');
}

.im-ft-fb:hover, .im-ft-fb:focus {
    content: url('../assets/icon-facebook3.svg');
}

.im-ft-inst:hover, .im-ft-inst:focus {
    content: url('../assets/icon-instagram3.svg');
}

.im-ft-tw:hover, .im-ft-tw:focus {
    content: url('../assets/icon-twitter3.svg');
}

@media only screen and (max-width: 768px) {
    .h-footer {
        width: 768px;
        height: 216px;
        top: 2071px;
    }
    
    .loc-footer {
        position: absolute;
        width: 768px;
        height: 216px;
    }
    footer .para {
        font-size: 16px;
        line-height: 26px;
        width: 40%;
        text-align: justify;
    }

    footer .title {
        font-size: x-large;
        line-height: 30px;
        letter-spacing: 2px;
        font-weight: 1000;
        margin-bottom: 50px;
    }

    footer .socials {
        width: 30%;
        margin-bottom: 50px;
    }
}